.button {
    font-size: 16px;
    text-align: center;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 5px;
}

.button_outline {
    border: 1px solid var(--red-dark);
    color: var(--red-dark);
    background: transparent;
}
.button_outline:hover{
    text-decoration: none;
    color: var(--red-dark);
}
.button_primary{
    background: var(--red-dark);
    padding: 10px 25px !important;
    color: white !important;
}
.button_primary:hover{
    text-decoration: none;
    color: white;
}
